header
{
         background-color: yellow;
            color: red;
            padding: 10px 0;
            text-align: center;
}


body
{
	background-color:gray;
	text-align:center;
	  
}
div
{
	border:200px;
border-radius:100px;
border-bottom-color:red;
padding:2px;
margin:30px;
width:100%;
height:800px;
background-color:white;
}
footer{
background-color:black;
height:250px;
width:100%;
border:200px;
margin:2px;
padding:0px;
text-align:center;
color:blue;
}
h3
{color:red;
}


button
{
	color:red;
}
form
{
	background-color:cryan;
	height:350px;
width:100%;
border:200px;
margin:2px;
padding:40px;
	
}